* {
  box-sizing: border-box;
}

@media (max-width: 1110px) {
  .product-list{
    display:block
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-image: url(./images/bg1.png);
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 70px;
  line-height: 78px;

  margin: 40px 0;
  text-align: center;
  color: #515076;
}

.product-list{
  padding: 0;
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  max-width: 1650px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 25px;
  box-sizing: border-box;
  background-color: #F7F7FA;
}

.photo {

  border-radius: 10px;
}

.skin-tag {
  font-size: 20px;
  line-height: 27px;
  display:block;
  color: #515076;
}

.product {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  }

.prod-effect{
  font-size: 15px;
  line-height: 25px;
  margin-left: 5px;
  color: #515076;
}
.prod-comp{
  font-size: 15px;
  line-height: 25px;
  margin-left: 5px;
  color: #515076;
}

.price{
  margin-top: 25px;
}

.prod-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color:#515076;
}
.prod-price1 {
  font-size: 20px;
  line-height: 24px;
  color:#515076;
  margin-left: 170px;
}

.button-to-buy{
  background-color: #515076; 
  color: #fff;
  border: 1px solid #515076;
  border-radius: 18px;
  padding: 10px 20px;
  font-size: 20px;
  margin : 5px;
  cursor: pointer;
}
