body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 70px;
  line-height: 78px;
  font-style: regular;
  margin: 1em 0;
  text-align: center;
  color: #515076;
}

.prod-title {
  font-size: 16px;
  line-height: 24px;
  color: #A5A3B9;
}

.skin-tag {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  font-style: bold;
  color: #515076;
}

.prod-effect,
.prod-comp,
.ingred_list {
  font-size: 15px;
  line-height: 18px;
  font-style: regular;
  color: #515076;
}

.prod-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color:#515076;
}
.prod-price1 {
  font-size: 20px;
  line-height: 24px;
  color:#515076;
}


.button {
  background-color: #515076; 
  color: #fff;
  border: 1px solid #515076;
  border-radius: 10x;
  padding: 10px 20px;
  font-size: 20px;
  margin : 10px;
}

.prod-btn:hover {
  opacity: 1; 
} 