.catalog {
  font-size: 70px;
  line-height: 220px;
  margin: 40px 0;
  text-align: center;
  font-weight: 400;
  color: #515076;
}
.bg-flowers{
  position: absolute;
  background-image: url(../images/bg1.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 790px;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -300px;
}
